* {
background:#e6f3ff;
}

h1 {
  color: MidnightBlue;
  font-family: 'Beth Ellen', cursive;
  font-size: 45px;
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

h4 {
  font-family: 'Beth Ellen', cursive;
  font-size: 23px;
    
ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;    
