* {
background:#e6f3ff;
}

h1 {
  color: MidnightBlue;
  font-family: 'Beth Ellen', cursive;
  font-size: 45px;
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-right: 77px;
  margin-left: 77px;
  text-align: center;
}

p {
    text-align: left;
}

h4 {
  font-family: 'Beth Ellen', cursive;
  font-size: 23px;
  text-align: center;
}
    
ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 19px;
  text-align: center;
  list-style: none;
}
