body {
background:#FFFFFFf;
}

Header: 
.header {
  background-color: #000000;
  background-image: url("https://officialpsds.com/imageview/7j/8k/7j8k0j_large.png?1521316582");
  background-position: right;
  background-repeat: no-repeat;
  padding: 60;
  position: sticky;
}

h1 {
  color: Black;
  font-family: 'Beth Ellen', cursive;
  font-size: 45px;
  text-align: left;
}

.boxed {
  border: 2px solid MidnightBlue;
  background-color: #ffe9ec;
  box-shadow: 10px 10px 8px #888888;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

p { 
   color: MidnightBlue;
   background-color: #ffe9ec;
}
  
main {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #ffe9ec;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

h4 {
  font-family: 'Beth Ellen', cursive;
  color: red;
  font-size: 23px;
  
}
    
ul {
  list-style: none;
}

#mainMenu {
	margin: 60px;
	width: 900px;
	font-family: 'Beth Ellen', cursive;
	position: sticky;
	
	
}

#mainMenu li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid MidnightBlue;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color: #ffe9ec;
	color:#MidnightBlue;

a:hover {
text-decoration: underline;
color: MediumVioletRed;
background-color: #ffe9ec;
}
